.complect {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 65px 0 40px;

    .container__title {
        display: flex;
        align-items: center;
        gap: 20px;

        h2 {
            width: 100%;
            max-width: 536px;
        }

        p {
            font-family: Onest;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .box_x {
        margin-top: 20px;
        display: flex;
        // overflow-x: scroll;
        overflow-y: hidden;
        border-radius: 8px;
        background-color: #FFF;

        .card {
            width: 295px;
            height: 295px;
            padding: 50px 30px;
            border: 1px solid #EFEFEF;

            p {
                width: 230px;
                font-family: Onest;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
            }

            h3 {
                font-family: Onest Condensed;
                font-size: 64px;
                font-weight: 500;
                line-height: 77px;
                letter-spacing: 0em;
                text-align: left;
                color: #ED2226;
            }
        }
    }

    .container {
        display: flex;
        // border-radius: 8px;
        // overflow: hidden;

        .car {
            display: flex;
            width: 50%;
            max-width: 585px;
            height: 390px;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: #FFF;
            background-position: center;
            position: relative;
            border-radius: 8px 0 0 8px;

            .plus {
                position: absolute;

                p {
                    opacity: 0;
                    box-sizing: border-box;
                    padding: 10px;
                    width: 100%;
                    max-width: 240px;
                    font-family: Onest;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 17px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFF;
                    background-color: #1D1D1D;
                }

                .hover {
                    opacity: 0;
                }
            }

            .plus svg:hover {
                cursor: pointer;

                .hover {
                    opacity: .5;
                }
            }

            .plus svg:hover+p {
                opacity: 1;
            }


            .plus-1 {
                left: 20%;
                top: 20%;
            }

            .plus-2 {
                left: 17%;
                top: 78%;
            }

            .plus-3 {
                left: 44%;
                top: 21%;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
            width: 50%;
            border-radius: 0 8px 8px 0;
            overflow: hidden;

            .card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 7px;
                border: 1px solid #EFEFEF;
                background-color: #FFF;
                width: 100%;
                height: 130px;
                padding: 0 25px;

                p {
                    font-family: Onest;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: center;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }

            .add {
                background: none;
                border: none;
            }
        }
    }

    @media (max-width: 1236px) {
        .container__title {
            flex-direction: column;
            width: 100%;
            max-width: 585px;
            margin: 0 auto;

            p {
                font-family: Onest;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 30px;
            }
        }

        .container {
            flex-direction: column;

            .car {
                width: 100%;
                border-radius: 8px 8px 0 0;
                margin: 0 auto;
            }

            .grid {
                max-width: 585px;
                width: 100%;
                border-radius: 0 0 8px 8px;
                margin: 0 auto;
            }
        }
    }

    @media (max-width: 578px) {
        .container {
            flex-direction: column;

            .car {
                height: 225px;

                .plus-1 {
                    left: 20%;
                    top: 20%;
                }

                .plus-2 {
                    left: 17%;
                    top: 78%;
                }

                .plus-3 {
                    left: 44%;
                    top: 21%;
                }
            }

            .grid {
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            }
        }
    }

    @media (max-width: 489px) {
        .grid {
            .add {
                grid-column: 2 span;
            }
        }
    }

    @media (max-width: 339px) {
        .grid {
            grid-template-columns: 1fr;

            .add {
                grid-column: 1 span;
            }
        }
    }
}